@page "/calendar"

@using Syncfusion.Blazor.Calendars

<h1>Calendar</h1>
@* 
<SfCalendar TValue="DateTime" @bind-Value="selectedDate"></SfCalendar>

<p>Selected date: @selectedDate.ToShortDateString()</p>

@code {
    private DateTime selectedDate = DateTime.Today;
}
 *@